
%h1
  = @user.email

%ul.list-group
  - @user.tags.uniq.each do |tag|

    %li.list-group-item
      = tag.name
      - if @user.id != current_user
        = form_for FollowerTagRelationship.new, html: {class: "nifty_form"} do |f|
          = f.hidden_field :tag_id,  value: tag.id
          - if current_user.followed_tags.include? tag
            = f.submit "Unfollow", class: "btn btn-danger"
          - else
            = f.submit "Follow", class: "btn btn-primary"
        
  
