.row
  .col-lg-4
  .col-lg-4
    - @pages.each do |page|
      .corgi_feed_well
        .individual_feed_item
          .feed_item
            .feed_body
              .row
                .feed_profile_pic
                  = gravatar_for page.user
                .feed_text
                  %p
                    %a{href: "http://" + page.link , :target => "_blank"}
                      = page.link
            %hr.feed_hr
            .comment_area{style: "display: none"}
            .bottom_meta
              .row
                .bottom_left
                  %a{href:"#"}
                    =  page.tags.map(&:name).join(",")

                .bottom_right
                  = page.user.name
                  %span |
                  %a.show_comment_link{href:"#"}
                    comments
                  %span |
                  = page.updated_at.strftime("%B %d, %Y")
    = paginate @pages


      
