
- if !@comments.empty?
  %ul.commentList.list-group#comments
    - @comments.uniq.each do | comment|
      %li.list-group-item
        .commenterImage
          = gravatar_for comment.page.user
        .commentText
          %p{class: " "}
            = comment.body
          %span.date.sub-text
            on
            = comment.updated_at.strftime("%B %d, %Y")


- if !@visited_by.empty?
  %h4 Been there, done that
  %ul
    - @visited_by.uniq.each do | dict|
      %li
        = gravatar_for dict[:user]
        = dict[:user].name
- else
  No users have been here
          
