%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type:"button", data: {toggle: "collapse" , target: "#baseapp-navbar-collapse-1"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in? 
        = link_to "reCollab", pages_path, :class => "navbar-brand" 
      - else
        = link_to "reCollab", root_path, :class => "navbar-brand" 
    .collapse.navbar-collapse#baseapp-navbar-collapse-1
      - if user_signed_in? 
        %ul.nav.navbar-nav
          %li
            = link_to "Add page", new_page_path
          %li
            = link_to "Users" , users_path 

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in? 
          - if current_user.admin? 
            %li
              = link_to "Admin", admin_path 
          %li
            = link_to "Account settings", edit_user_registration_path 
          %li
            = link_to "Help", static_pages_help_path
          %li
            = link_to "Sign out", destroy_user_session_path 
        - else 
          %li
            = link_to "Sign up", new_user_registration_path 
          %li 
            = link_to "Sign in", new_user_session_path 
          %li
            = link_to "Help", static_pages_help_path


